.btn[disabled] {
  cursor: not-allowed !important;
}

.btn-no-action {
  cursor: default !important;
}

.embedded-button {
  cursor: pointer !important;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.embedded-button-disabled {
  cursor: not-allowed !important;
}
