.list-group-item-container {
  border-radius: 0 !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.list-group-item-container > .list-group-item-inner-single, .list-group-item-inner-left, .list-group-item-inner-center, .list-group-item-inner-right {
  align-self: center !important;
}

.list-group-item-container > .list-group-item-inner {
  display: flex !important;
}

.list-group-item-container > .list-group-item-inner-single {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.list-group-item-container > .list-group-item-inner-left {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.25rem !important;
}

.list-group-item-container > .list-group-item-inner-center {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.list-group-item-container > .list-group-item-inner-right {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.25rem !important;
  padding-right: 0.5rem !important;
}
