.table-align-fixed {
  table-layout: fixed !important;
}

.table-header-fixed thead th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  z-index: 1 !important;
}

.table-header-fixed th:first-child {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 2 !important;
}

.table-header-fixed thead th:first-child {
  z-index: 3 !important;
}

.table-header-fixed th {
  white-space: nowrap !important;
}

td.table-main-content {
  word-break : break-all !important;
  word-wrap : break-word !important;
}

.table-header-fixed td.table-sub-content {
  white-space: nowrap !important;
}

.table-header-fixed tbody th {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.table-header-fixed tbody td {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
