.table-align-fixed {
  table-layout: fixed !important;
}

.table-header-fixed thead th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  z-index: 1 !important;
}

.table-header-fixed th:first-child {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  z-index: 2 !important;
}

.table-header-fixed thead th:first-child {
  z-index: 3 !important;
}

.table-main-content {
  word-break : break-all !important;
  word-wrap : break-word !important;;
}

.table-sub-content {
  white-space: nowrap !important;
}
