@import "~bootstrap/scss/bootstrap";

.text-highlight {
  @extend .bg-warning;
  @extend .font-weight-bold;
}

.text-break {
  word-break : break-all !important;
  word-wrap : break-word !important;;
}

.text-box-margin {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
